* {
    font-family: 'Red Hat Display', sans-serif !important;
}
/* vertical sidebar css part start */
.bxcHYI {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    color: rgb(51, 51, 51);
    display: flex;
    position: relative;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    text-rendering: optimizespeed !important;
}
/* sidebar css part */
.menu-content {
    top: 0 !important;
    height: 100vh !important;
    background: #fafbff;
    border-right: 1px solid #e4e7e7;
}
.bxcHYI * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.jzMYjV {
    width: 260px;
    /* background-color: rgb(250, 250, 250); */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
    /* height: 100vh; */
    position: sticky;
    /* top: 0px; */
}
/* sidebar image part */
.YzuTm {
    text-align: center;
}
.cCiYxb {
    display: inline-block;
}
.menu-content .YzuTm img {
    margin: 15px auto;
    height: 30px;
}
.hZCbNs {
    max-height: 260px;
    max-width: 260px;
    padding: 2px;
    width: 100%;
    display: block;
}
/* search bar section start */
.kKQhLA {
    padding: 5px 0px;
}
.ibpoCO {
    position: absolute;
    left: 20px;
    height: 1.8em;
    width: 0.9em;
}
.search-input {
    font-weight: 400;
}
.kzNiFq {
    width: calc(100% - 40px);
    box-sizing: border-box;
    margin: 0px 20px;
    padding: 5px 10px 5px 20px;
    border-width: 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-bottom-style: solid;
    border-bottom-color: rgb(225, 225, 225);
    /* font-family: Roboto, sans-serif; */
    /* font-weight: bold; */
    font-size: 13px;
    color: rgb(51, 51, 51);
    background-color: transparent;
    outline: none;
}
/* dropdown content start  */

/* hover part side */
.iNzLCk:hover {
    background-color: rgb(237, 237, 237);
}
.iNzLCk:hover {
    color: rgb(50, 50, 159);
}
label[type=tag] {
    padding-left: 25px;
}
.iNzLCk {
    cursor: pointer;
    /* color: rgb(51, 51, 51); */
    margin: 0px;
    padding: 12.5px 20px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    /* font-family: Montserrat, sans-serif; */
    font-size: 0.929em;
    text-transform: none;
}
/* main content side */
.fXybtJ {
    outline: none;
    user-select: none;
    background-color: rgb(242, 242, 242);
    color: rgb(50, 50, 159);
    display: none;
    cursor: pointer;
    position: fixed;
    right: 20px;
    z-index: 100;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
    bottom: 44px;
    width: 60px;
    height: 60px;
    padding: 0px 20px;
}
/* unorder list part start */
.ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y {
    display: block;
    background-color: transparent;
}
.ps__rail-y {
    /* display: none; */
    opacity: 0;
    transition: background-color 0.2s linear 0s, opacity 0.2s linear 0s;
    width: 15px;
    /* right: 0px; */
    position: absolute;
}
.nGwee {
    display: none;
}
.nGwee {
    font-size: 0.8em;
    margin-top: 10px;
    padding: 0px 20px;
    text-align: left;
    opacity: 0.7;
}
.ps__rail-x {
    display: none;
    opacity: 0;
    transition: background-color 0.2s linear 0s, opacity 0.2s linear 0s;
    height: 15px;
    /* bottom: 0px; */
    position: absolute;
}
.ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y {
    display: block;
    background-color: transparent;
}
.ps__rail-y {
    /* display: none; */
    opacity: 0;
    transition: background-color 0.2s linear 0s, opacity 0.2s linear 0s;
    width: 15px;
    /* right: 0px; */
    position: absolute;
}
/* postman content part start */
.postman {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: .929em;
    color: #333;
    padding: 12.5px 20px 12.5px 25px;
}
.postman img {
    height: 20px;
    margin-left: 10px;
    vertical-align: middle;
}
/* main content text part start */
.iniCdN {
    z-index: 1;
    position: relative;
    overflow: hidden;
    width: calc(100% - 260px);
    contain: layout;
}
/* right side part start */
.dtUibw, .fLUKgj {
    background: #011f3f !important;
}
.fLUKgj {
    /* background: rgb(38, 50, 56); */
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: calc(40% - 104px);
}